@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Piedra&display=swap');
body{
    background-image: url("../image/quiz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* partie connexion */
.part-bleu{
    background-color: rgb(45, 156, 219, 77%);
    width: 50vh;
    height: 75vh;
    margin-top: 45px;
    margin-left: 100px;
}
.title{
    font-weight: bold;
    font-family: 'Piedra', cursive;
    margin-top: 25%;
}

.part-blanche{
    background-color: #FFFFFF;
    width: 50vh;
    height: 75vh;
    margin-top: 45px;
    margin-right: 100px;
}
.login{
    text-align: center;
    font-weight: bold;
    margin-top: 15%;
}
.form-group{
     margin-top: 10%; 
}
.form-control{
    width: 70%;
    height: 40px;
    border: 2px solid rgb(45, 156, 219, 77%) ;
    border-radius: 10px;
    margin-left: 70px;
}
.img1{
    width: 22px;
    height: 22px;
    margin-top: -7%;
    margin-left: 75%;
}
.btn-primary{
    background: #2D9CDB;
    border: 1px solid #2D9CDB;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px #2D9CDB;
    border-radius: 15px 0px;
    margin-left: 40%;
    margin-top: 5%;
    font-weight: bold;
}
h6{
    font-family: 'Lobster', cursive;
}
.btn-white{
     margin-left: 200px;
     color: rgb(45, 156, 219);
     font-weight: bold;
}

